@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

.w3-content{position:relative;margin-top:0em;}
/*.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-content button {
position: relative;
}

.w3-display-right {right:0}
.w3-display-left {left:0}*/

#header {
  background-color: #00008B;
  height: 50px;
  line-height: 50px;
  }
  #header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  #header a:hover {
    color: #222;
  }
#header-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.post, .SupportMe {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  width: 150px;
  height: 200px;
  vertical-align: middle;
}
.post-author img, .SupportMe-author img {
  border-radius: 50%;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height:1.5;
}
.SupportMe {
  text-align: center;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
